.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
}

.header__portrait {
  max-width: 40%;
  max-height: 40%;
  border-radius: 50%;
}

.header__title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  margin-left: 20%;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 16px;
}

.section__title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  margin-top: 25px;
  margin-left: 5px;
  padding: 10px 0px 10px 0px;
  font-size: 35px;
  border-top: 1px solid rgba(149, 146, 146, 0.472);
  border-bottom: 1px solid rgba(149, 146, 146, 0.472);
}

.section__text-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}

.about-me .section__text-content {
  margin-top: 15px;
}

.code-example .section__text-content {
  overflow-wrap: anywhere;
  display: block;
  text-overflow: unset;
  margin-top: -20px;
}

.section__task {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-left: 12px;
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
}

.section__contact-list-item {
  font-size: 20px;
}

.section__skill-list-item {
  font-size: 20px;
}

.section__education-list-item {
  font-size: 20px;
}

.section__education-list-item a {
  text-decoration: none;
}

.section__language-list-item {
  font-size: 20px;
}

.section__task {
  font-size: 12vh;
}

p {
  margin: 0px;
  padding: 0px;
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.144);
  position: relative;
}

.footer__project-info {
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer__item {
  width: 40px;
  height: 40px;
}

.footer__rs-logo {
  width: 80px;
  height: 80px;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: 70px;
  }

  .section__title {
    font-size: 33px;
  }
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 68px;
    margin-left: 9%;
    letter-spacing: 13px;
  }

  .section__title {
    font-size: 31px;
  }
}

@media (max-width: 800px) {
  .header__title {
    font-size: 45px;
    margin-left: 10%;
    line-height: 50px;
    letter-spacing: 12px;
  }

  .section__title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 40px;
    margin-left: 7%;
    line-height: 50px;
    letter-spacing: 10px;
  }

  .section__title {
    font-size: 25px;
  }


  .footer__item {
    width: 35px;
    height: 35px;
  }

  .footer__rs-logo {
    width: 70px;
    height: 70px;
  }

  .footer__project-info {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 40px;
    margin-left: 3%;
    line-height: 50px;
    letter-spacing: 7px;
  }

  .section__title {
    font-size: 22px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 13px;
    font-size: 19px;
  }

  .section__contact-list-item {
    font-size: 19px;
  }

  .section__skill-list-item {
    font-size: 19px;
  }

  .section__education-list-item {
    font-size: 19px;
  }

  .section__language-list-item {
    font-size: 19px;
  }

  .section__task {
    font-size: 37px;
  }

  .footer__item {
    width: 30px;
    height: 30px;
  }

  .footer__rs-logo {
    width: 60px;
    height: 60px;
  }

  .footer__project-info {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 35px;
    margin-left: 2%;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .section__title {
    font-size: 20px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 11px;
    font-size: 18px;
    margin: 0p
  }

  .section__contact-list-item {
    font-size: 18px;
  }

  .section__skill-list-item {
    font-size: 18px;
  }

  .section__education-list-item {
    font-size: 18px;
  }

  .section__language-list-item {
    font-size: 18px;
  }

  .section__task {
    font-size: 32px;
  }

  .footer__item {
    width: 25px;
    height: 25px;
  }

  .footer__rs-logo {
    width: 55px;
    height: 55px;
  }

  .footer__project-info {
    font-size: 14px;
  }
}

@media (max-width: 315px) {
  .header__title {
    font-size: 28px;
    margin-left: 3%;
    line-height: 28px;
    letter-spacing: 3px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 10px;
    font-size: 17px;
  }

  .section__contact-list-item {
    font-size: 17px;
  }

  .section__skill-list-item {
    font-size: 17px;
  }

  .section__education-list-item {
    font-size: 17px;
  }

  .section__language-list-item {
    font-size: 17px;
  }

  .section__task {
    font-size: 25px;
  }

  .footer__item {
    width: 22px;
    height: 22px;
  }

  .footer__rs-logo {
    width: 50px;
    height: 50px;
  }

  .footer__project-info {
    font-size: 12px;
  }
}